@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  line-height: 1.18;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

b {
  font-weight: bold;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

button:active {
  transform: translateY(1px);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.65;
}

.row {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.container {
  padding: 40px 0;
  width: 100%;
}

.btn {
  background-color: #2bd97c;
  color: #032b41;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
}

.btn:hover:not(:disabled) {
  background-color: #20ba68;
}

.btn:active {
  transform: translateY(1px);
}

.home__cta--btn {
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* HOME */
.section__title {
  font-size: 32px;
  color: #032b41;
  text-align: center;
  margin-bottom: 32px;
  font-weight: bold;
}

/* NAVBAR */
.nav {
  height: 80px;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1070px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.nav__list--wrapper {
  display: flex;
  gap: 24px;
}

.nav__img--mask {
  max-width: 200px;
}

.nav__img {
  width: 100%;
  height: 100%;
}

.nav__list {
  cursor: not-allowed;
  color: #032b41;
  transition: color 100ms;
}

.nav__list--login:hover {
  color: #2bd97c;
}

.nav__list--login {
  cursor: pointer;
}

/* LANDING */
.landing__wrapper {
  display: flex;
}

.landing__content {
  width: 100%;
}

.landing__image--mask {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.landing__image--mask img {
  width: 100%;
  height: 100%;
  max-width: 400px;
}

.landing__content__title {
  color: #032b41;
  font-size: 39.2px;
  font-weight: bold;
  margin-bottom: 24px;
}

.landing__content__subtitle {
  color: #394547;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 24px;
  line-height: 1.5;
}

/* FEATURES */
.features__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 96px;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.features__icon {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  color: #032b41;
}

.features__icon svg {
  width: 60px;
  height: 60px;
}

.features__title {
  font-size: 24px;
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 500;
}

.features__sub--title {
  font-size: 18px;
  color: #394547;
  font-weight: 300;
}

.statistics__heading {
  font-size: 32px;
  font-weight: 500;
  color: #6b757b;
  margin-bottom: 16px;
}

.statistics__heading:last-child {
  margin-bottom: 0;
}

.statistics__heading--active {
  color: #2bd97c;
}

.statistics__wrapper {
  display: flex;
  gap: 80px;
  margin-bottom: 96px;
}

.statistics__wrapper:last-child {
  margin-bottom: 0;
}

.statistics__content--header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.statistics__content--header-second {
  align-items: flex-end;
}

.statistics__content--details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  background-color: #f1f6f4;
  padding: 40px 24px;
}

.statistics__data {
  display: flex;
  gap: 16px;
}

.statistics__data--number {
  color: #0365f2;
  font-size: 20px;
  font-weight: 600;
  margin-top: 4px;
}

.statistics__data--title {
  font-size: 20px;
  font-weight: 300;
  color: #394547;
}

/* REVIEWS */
.reviews__wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.review {
  background-color: #fff3d7;
  padding: 16px;
  margin-bottom: 32px;
  border-radius: 4px;
  font-weight: 300;
}

.review__header {
  color: #032b41;
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.review__body {
  color: #394547;
  letter-spacing: 0.3px;
  line-height: 1.4;
}

.review__stars {
  display: flex;
}

.review__stars svg {
  width: 16px;
  height: 16px;
  fill: #0564f1;
}

.reviews__btn--wrapper {
  display: flex;
  justify-content: center;
}

/* NUMBERS */
.numbers {
  background-color: #d7e9ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 24px;
  padding-bottom: 40px;
  border-radius: 12px;
}

.numbers__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.numbers__icon {
  display: flex;
  align-items: center;
  height: 60px;
  gap: 4px;
}

.numbers__icon svg {
  color: #0365f2;
  width: 48px;
  height: 48px;
}

.numbers__star--icon svg {
  width: 20px;
  height: 20px;
}

.numbers__title {
  font-size: 40px;
  color: #032b41;
  font-weight: 600;
  margin-bottom: 16px;
}

.numbers__sub--title {
  color: #394547;
  font-weight: 300;
}

#footer {
  background-color: rgb(241 246 244);
}

.footer__top--wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 32px auto 64px;
}

.footer__block {
  z-index: 1;
}

.footer__link--title {
  font-weight: 600;
  margin-bottom: 16px;
  font-size: 18px;
  color: #032b41;
}

.footer__social--link-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.footer__social--link {
  display: flex;
}

.footer__link--wrapper {
  margin-bottom: 12px;
  line-height: 1;
}

.footer__link {
  color: #394547;
  font-size: 14px;
  cursor: not-allowed;
}

.footer__link--wrapper:last-child {
  margin-bottom: 0;
}

.footer__social--text {
  margin-bottom: 4px;
}

.footer__social--text b {
  font-weight: 500;
}

.footer__review--wrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.footer__social--img-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__social--img {
  display: flex;
}

.footer__copyright--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright {
  color: #032b41;
  font-weight: 500;
}

/* 

MODAL

*/

.auth__wrapper {
  width: 100%;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth {
  position: relative;
  width: 400px;
  max-width: 400px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.auth__content {
  padding: 48px 32px 24px;
}

.auth__title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #032b41;
  margin-bottom: 24px;
}

.btn.guest__btn--wrapper {
  position: relative;
  display: flex;
  background-color: #3a579d;
  color: #fff;
  justify-content: center;
}

.btn.guest__btn--wrapper:hover {
  background-color: #25396b !important;
}


.google__icon--mask {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  left: 2px;
}

.guest__icon--mask {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  position: absolute;
  left: 2px;
}

.guest__icon--mask svg {
  width: 24px;
  height: 24px;
}

.auth__separator {
  display: flex;
  align-items: center;
  margin: 16px 0;
}

.auth__separator:after,
.auth__separator:before {
  content: "";
  display: block;
  flex-grow: 1;
  height: 1px;
  background: #bac8ce;
}

.auth__separator--text {
  margin: 0 24px;
  font-size: 14px;
  color: #394547;
  font-weight: 500;
}

.btn.google__btn--wrapper {
  position: relative;
  display: flex;
  background-color: #4285f4;
  color: #fff;
  justify-content: center;
}

.btn.google__btn--wrapper:hover {
  background-color: #3367d6 !important;
}

.google__icon--mask {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  left: 2px;
}

.google__icon--mask img {
  width: 24px;
  height: 24px;
}

.auth__main--form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.auth__main--input {
  height: 40px;
  border: 2px solid #bac8ce;
  border-radius: 4px;
  color: #394547;
  padding: 0 12px;
}

.login__error {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: #edf3f1;
  color: #e40737d2;
  width: 100%;
  border-radius: 0 0 4px 4px;
  font-weight: 400;
  font-size: 14px;
}

.auth__password--reset-input{
  width: 100%;
}

.auth__forgot--password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth__forgot--password {
  text-align: center;
  color: #116be9;
  font-weight: 300;
  font-size: 14px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 16px;
  cursor: pointer;
}

.auth__forgot--password-submit{
  height: 40px;
  text-align: center;
  background-color: #e9f1ee;
  color: #e911bad2;
  width: 100%;
  border-radius: 0 0 4px 4px;
  font-weight: 300;
  font-size: 16px;
}

.auth__forgot--password-submit:hover {
  background-color: #e1e9e8;
}

.auth__switch--btn {
  height: 40px;
  text-align: center;
  background-color: #f1f6f4;
  color: #116be9;
  width: 100%;
  border-radius: 0 0 4px 4px;
  font-weight: 300;
  font-size: 16px;
}

.auth__switch--btn:hover {
  background-color: #e1e9e8;
}

.auth__close--btn {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  cursor: pointer;
  transition: opacity 0.2s;
}

.auth__close--btn svg {
  width: 28px;
  height: 28px;
}

.auth_modal--button {
  margin-bottom: 24px;
}

/* 

RESPONSIVENESS

*/

@media (max-width: 768px) {
  .landing__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 540px;
    margin: 0 auto;
  }

  .landing__image--mask {
    display: none;
  }

  .landing__content__title {
    font-size: 24px;
  }

  .features__wrapper {
    grid-template-columns: 1fr;
  }

  .statistics__wrapper {
    flex-direction: column;
    gap: 32px;
    margin-bottom: 32px;
  }

  .statistics__heading {
    font-size: 24px;
  }

  .footer__top--wrapper {
    flex-direction: column;
    gap: 32px;
  }

  .numbers__wrapper {
    grid-template-columns: 1fr;
  }

  .statistics__content--details-second {
    order: 1;
  }

  .statistics__content--header-second {
    align-items: flex-start;
  }

  .statistics__data--title {
    font-size: 16px;
  }

  .section__title {
    font-size: 24px;
  }

  .features__title {
    font-size: 20px;
  }

  .features__sub--title {
    font-size: 14px;
  }

  .features__icon svg {
    width: 48px;
    height: 48px;
  }

  .review__body {
    font-size: 14px;
  }

  .numbers__wrapper {
    gap: 24px;
  }

  .numbers__title {
    font-size: 32px;
  }

  .numbers__sub--title {
    font-size: 14px;
  }

  .remove--tablet {
    display: none;
  }
}

@media (max-width: 576px) {
  .nav__list--mobile {
    display: none;
  }
}
